aflorom/target/aflorom-0.0.1-SNAPSHOT-jar-with-dependencies.jar
aflorom/target/classes/aflorom/
aflorom/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
aflorom/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
